# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual env
.venv/
venv/

# IDE
.idea/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Docker volumes
minio_data/

# OS
.DS_Store
Thumbs.db

# Airflow local
airflow/
*.db

# Stubs (IDE only, not needed in production)
stubs/

# Work dir
work-dir/

# Generated data
data/sources_files/*.csv
data/generate_data.py
data/count.py

